@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-grid
      grid-gap: 20px
  .box
    &-image
      &--first
        width: 315px
    &-room
      &__title
        &--first
          margin-bottom: 10px
  .footer
    &-container
      max-width: 960px
    &-wrapper
      grid-template-columns: 3fr 3fr 250px 3fr
      column-gap: 20px
    &__legal
      padding-left: 0px
    &__input
      flex-basis: 100%
    &__message
      width: 100%
@media (max-width: 992px)
  .logo,
  .search__button,
  .user,
  .navbar-menu__link,
  .breadcrumb-list__link,
  .hotel-slider__button,
  .booking__number,
  .booking__button,
  .subscribe__button,
  .reviews-slider__button,
  .card__button,
  .box-room__button,
  .footer__button,
  .button,
  .modal__close
    cursor: default
  .hotel
    padding: 23px 0 60px 0
    &-grid
      flex-direction: column
      padding: 0
    &__slider
      margin-bottom: 30px
    &-details
      flex-direction: row
    &-slider
      width: 100%
  .container,
  .newsletter-wrapper
    max-width: 700px
  .navbar-menu
    max-width: 673px
  .logo
    margin-bottom: 6px
  .logo__name
    font-size: 18px
    line-height: 18px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      &__list
        padding-top: 19px
        padding-bottom: 23px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .breadcrumb-list
    padding: 19px 0 18px 0
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
  .map
    width: 340px
    height: 210px
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    padding: 40px 0 60px 0
    &-slider
      &__item
        max-width: 579px
        &::before, &::after
          display: none
      &__button
        top: 50%
        &--next
          right: 0
        &--prev
          left: 0
      &__text
        height: 134px
    &__title
      margin-bottom: 50px
      font-weight: bold
      font-size: 30px
      line-height: 38px
  .activities
    padding-bottom: 69px
    &-wrapper
      flex-wrap: wrap
      gap: 20px
  .card
    width: 339px
    height: 255px
  .packages
    padding: 40px 0 60px 0
    &-grid
      grid-template-columns: repeat(2, 1fr)
    &-title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
  .box
    &-image
      &--first
        width: 350px
    &-room
      &__title
        &--first
          margin-bottom: 27px
  .footer
    padding: 66px 0 33px 0
    &-container
      max-width: 700px
    &-wrapper
      grid-template-columns: 3fr 5fr 4fr
      column-gap: 20px
      row-gap: 46px
      margin-bottom: 57px
    &-logo
      grid-row: 1 / 2
      margin: 0
      &__name
        font-size: 40px
        line-height: 40px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 2
        align-self: center
        margin-top: 15px
        margin-left: 2px
    &__categories
      grid-row: 2 / 3
    &__additional
      padding-left: 16px
    &__legal
      margin-left: 19px
    &__details
      margin-left: 8px
    &__contact
      &-details
        grid-column: span 3
      &-form
        grid-column: span 3
        margin-top: 13px
        padding-right: 160px
    &__title
      &--details
        margin-top: 13px
    &__link
      &--phone
        margin-left: 7px
    &__input
      flex-basis: 47%
  .modal
    &__dialog
      width: 87%
@media (max-width: 767px)
  body
    padding-top: 79px
  .container
    max-width: 576px
    width: 87%
  .logo
    margin-bottom: 0
  .navbar
    &__search, &__user
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &__search
      margin-left: 0
      width: 245px
    &-top
      padding: 22px 0 31px
      &__menu-button
        margin-top: 6px
    &--mobile
      &--fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 71px
      padding: 31px 0 68px 0
      &--visible
        display: block
    &-menu
      &__list
        padding: 0
        flex-direction: column
      &__item
        &:not(:last-child)
          margin-bottom: 17px
        &:first-child
          margin-bottom: 27px
        &:nth-child(2)
          margin-bottom: 36px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      background-color: #ffffff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        margin: 0
        color: $light-color
    &__avatar
      margin-bottom: 10px
  .breadcrumb-list
    padding: 15px 0 19px 0
  .hotel
    padding: 5px 0 40px 0
    &__hotel-info
      margin-bottom: 38px
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin: 0
    &-details
      flex-direction: column
      min-height: 403px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 350px
  .stars
    flex-basis: auto
    margin-right: 13px
  .booking
    width: 100%
    padding: 29px 21px 26px 22px
    &__call-center
      padding-right: 4px
  .map
    width: 100%
    height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 87%
    &__title
      margin-bottom: 37px
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    padding: 40px 0 50px 0
    &-slider
      &__item
        padding: 0 27px 36px 33px
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -90px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -90px
      &__profile
        margin-right: 5px
      &__text
        font-size: 12px
        line-height: 160%
        text-align: left
        word-spacing: 0
      &__rating
        margin-left: 15px
    &__title
      max-width: 245px
      margin: 0 auto 42px auto
      font-weight: bold
      font-size: 18px
      line-height: 23px
  .activities
    padding: 38px 0 61px 0
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    &__card:nth-child(1)
      order: -2
    &__card:nth-child(3)
      order: -1
      margin-bottom: 8px
  .card
    width: 100%
  .packages
    padding: 30px 0 50px 0
    &-grid
      grid-template-columns: 1fr
      grid-template-rows: 485px
    &-title
      margin-bottom: 40px
      font-size: 18px
      line-height: 23px
  .box
    &:first-child
      grid-column: 1 / 2
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: stretch
    &-offer
      &--first
        padding: 4px 10px
        font-weight: 600
        font-size: 8px
        line-height: 10px
    &-image
      width: 100%
      height: 250px
      object-fit: cover
      &--first
        max-width: 576px
        height: 250px
        object-fit: cover
    &-room
      padding: 25px 20px 25px 20px
      &__stars
        display: none
      &__title
        &--first
          margin-bottom: 23px
      &__text
        display: none
      &__details
        &--first
          margin: 0
          margin-bottom: 24px
      &__price
        margin: 0
      &__button
        padding: 7px 20px
        font-size: 12px
        line-height: 16px
  .footer
    padding: 61px 0 21px 0
    &-container
      max-width: 576px
      width: 87%
    &-wrapper
      grid-template-columns: 1fr
      column-gap: 0
      row-gap: 0
      margin-bottom: 26px
    &-logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
        margin-top: 38px
        margin-bottom: 28px
    &__legal
      grid-row: 3
      grid-column: 1
      margin: 0
      margin-bottom: 30px
    &__additional
      grid-row: 4
      grid-column: 1
      padding: 0
      margin-bottom: 29px
    &__categories
      grid-row: 5
      grid-column: 1
      margin-bottom: 38px
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-bottom: 60px
      &-form
        grid-row: 7
        grid-column: 1
        padding: 0
        margin: 0
    &-bottom
      grid-row: 8
      grid-column: 1
      flex-direction: column
    &__details
      margin-left: 2px
    &__item
      &--address
        align-items: start
      &--phone
        margin-bottom: 18px
    &__description
      margin-left: 13px
    &__link
      &--phone
        margin-left: 0
      &--email
        margin-left: 10px
    &__title
      &--inline
        margin-bottom: 22px
      &--details
        margin-top: 0
      &--form
        margin-bottom: 15px
    &__form
      flex-direction: column
      align-items: start
    &__info
      margin: 0
      margin-bottom: 15px
    &__input
      margin: 0
      margin-bottom: 15px
      padding: 18px 10px 17px 23px
      width: 100%
    &__message
      width: 100%
      height: 123px
      margin-bottom: 15px
    &__button
      order: 99
    &-navbar
      margin: 0
      margin-bottom: 10px
      &__list
        margin: 0
        justify-content: space-between
      &__item:not(:last-child)
        margin-right: 0
      &__link
        margin: 0
  .modal
    &__dialog
      padding: 33px 25px
    &__form
      flex-direction: column
      align-items: start
    &__button
      order: 1
      margin-top: 15px
@media (max-width: 576px)
  body
    padding-top: 74px
  .navbar
    &-bottom
      top: 71px
  .logo__name
    font-size: 13px
    line-height: 13px
  .hotel
    &-slider
      height: 300px
  .reviews
    &-slider
      &__text
        height: 268px
@media (max-width: 480px)
  .hotel
    &-slider
      height: 179px
