*
  box-sizing: border-box
body
  font-family: "Mulish", sans-serif
  background-color: $secondary-color
  color: $text-color
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.visually-hidden
  position: absolute
  clip: rect(0 0 0 0)
  width: 1px
  height: 1px
  margin: -1px
.input
  padding: 0 10px 0 23px
  font-size: 12px
  line-height: 15px
  border-radius: 4px
  border: none
  background-color: $light-color
input::placeholder
  color: $footer-text-color
input
  outline: none
textarea
  outline: none
.message
  padding: 18px 5px 0 23px
  resize: none
  font-size: 12px
  line-height: 15px
  border: none
  border-radius: 4px
  background-color: $light-color
  &::placeholder
    color: $footer-text-color
.button
  padding: 18px 65px 17px 66px
  font-weight: bold
  font-size: 12px
  line-height: 15px
  border-radius: 4px
  border: none
  color: $light-color
  background-color: $primary-color
  cursor: pointer
  text-decoration: none
  &:hover
    color: $primary-color
    background-color: $light-color
    font-weight: 700
    text-transform: uppercase
.form
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
.invalid
  font-size: 15px
  color: $primary-color
.subscribe #email-error
  position: absolute
  top: 60px
  overflow: visible
